<div class="row sticky-top filter-elements">
        <div class="col-xl-3 col-l-3">
            <!-- Name filter -->
            <mat-form-field appearance="outline">
                    <mat-label>Filter by name</mat-label>
                    <input matInput placeholder="Type: Name" [(ngModel)]="nameFilter">
            </mat-form-field>
            <ng-template [ngIf]="showSorts">
                <mat-radio-group>
                    <mat-radio-button #selection1 (click)="sortSelected(selection1)" value="price">Sort by price</mat-radio-button>
                    <mat-radio-button #selection2 (click)="sortSelected(selection2)" value="people">Sort by max. amount of people</mat-radio-button>
                </mat-radio-group>
            </ng-template>
        </div>
        <div class="col-xl-3 col-l-3">
            <!-- Radius filter -->
            <mat-form-field appearance="outline">
                    <mat-label>Filter by radius (km)</mat-label>
                    <mat-select [(ngModel)]="radiusValueSelected" name="radiusOptions" disableOptionCentering="true">
                        <mat-option *ngFor="let radius of radiusOptions" [value]="radius">
                            {{radius}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
        <div class="col-xl-3 col-l-3">
            <!-- Button for applying all filters -->
            <button (click)="applyFilters()" class="btn btn-primary margin-top-15">Search <span><i style="margin-left: 10px" class="fas fa-search"></i></span></button>
        </div>
        <div class="col-xl-3 col-l-3">
                <!-- Button for add more filters -->
                <div (click)="toggleSorts()" class="add-filters-button margin-top-20">
                        <h5 *ngIf="!showSorts"><span><i class="fas fa-plus-circle marg-right-10"></i></span> Sort result</h5>
                        <h5 *ngIf="showSorts"><span><i class="fas fa-minus-circle marg-right-10"></i></span></h5>
                </div>
            </div>
    </div>
